/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  width: 100%;
  font-family: var(--main-font-family);
  font-variation-settings: var(--text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: repeating-linear-gradient(
      90deg,
      var(--page-background),
      var(--page-background) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #007f0c,
      #004306 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(180deg, #007f0c 0.01%, #004306);
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--text-color);
  background: var(--page-background);
  font-family: var(--fantasy-font-family);
  margin-top: 102px;
  margin-bottom: 104px;
}

.main {
  width: 100%;
}

.header__link {
  display: block;
  margin-top: 136px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  margin-bottom: 25px;
  color: var(--text-color);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  margin-bottom: 25px;
}

.theme-menu__item {
  margin-bottom: 14px;
  position: relative;
}

.theme-menu__item:last-child {
  margin-bottom: 0;
}

.theme-menu__button {
  padding: 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
  background: none;
  border: none;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  opacity: 0.6;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: translateX(0);
}

.card {
  margin: auto;
  border: 2px solid var(--text-color);
  background: var(--page-background);
  margin-bottom: 54px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--stroke-color);
}

.card__title {
  color: var(--text-color);
  font-family: Inter;
  font-size: 18px;
  font-variation-settings: var(--title-font-weight);
  padding: 4px 10px;
  line-height: normal;
}

.card__image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card__image-container {
  overflow: hidden;
  position: relative;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.image-label {
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  font-variation-settings: var(--text-font-weight);
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
  font-weight: 400;
  line-height: normal;
  z-index: 1;
  opacity: 0.5;
  position: absolute;
  right: 25px;
  top: 27px;
}

.card__image_grayscale {
  filter: grayscale(50%);
}

.card__image_hue-rotate {
  filter: hue-rotate(30deg);
}

.card__image_saturate {
  filter: saturate(360%);
}

.card__image_invert {
  filter: invert(80%);
}

.card__image_sepia {
  filter: sepia(80%);
}

.card__image_blur {
  filter: blur(20px);
}

.card__image_multi {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

.card__text-container {
  padding: 26px 25px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card__text {
  color: var(--text-color);
  font-family: Inter;
  font-size: 18px;
  font-weight: 465;
  line-height: 21px; /* 116.667% */
}

.card__like-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
}

.card__icon-button {
  padding: 0;
  width: 39px;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.like-icon {
  width: inherit;
  height: inherit;
  fill: var(--text-color);
  position: relative;
  z-index: 1;
}

.like-icon .heart {
  transition: fill 0.1s;
  transform-origin: center center;
}

.like-icon .contour {
  fill: var(--text-color);
}

.like-icon .main-body {
  fill: var(--page-background);
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: var(--page-background);
  transition: fill 0.3s 0.05s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-color);
}

.like-icon:hover .main-body {
  fill: var(--text-color);
}

.like-icon:hover .core {
  fill: var(--text-color);
}

.like-icon:active .main-body {
  fill: var(--heart-color);
}

.like-icon:active .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

.card__like-button {
  width: 130px;
  padding: 10px 0;
}

.button {
  font-family: "Press Start 2P", fantasy;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--mix-blend-color);
  background: none;
  border: 2px solid var(--text-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.save-button {
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--page-background);
  margin-bottom: 105px;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button__text {
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.dialog {
  font-family: "Press Start 2P", fantasy;
  font-size: 14px;
  padding: 30px 26px;
  color: var(--text-color);
  background: var(--page-background);
  border: 2px solid var(--text-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
}

.dialog__text-container {
  display: flex;
  gap: 22px;
  align-items: center;
}

.dialog .floppy-image {
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

.ok-button {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: var(--page-background);
}

@media (width < 375px) {
  .image-label {
    right: 10px;
    top: 24px;
  }

  .floppy-image {
    width: 28px;
    height: 28px;
  }

  .save-button {
    flex-direction: column;
    margin-bottom: 102px;
  }

  .header {
    padding: 120px 0 24px;
  }

  .header__link {
    margin-top: 0;
  }

  .theme-menu__list {
    margin: 0 41.1%;
  }

  .card:nth-child(7) .card__text {
    max-width: 317px;
  }

  .dialog__container {
    gap: 28px;
  }
  .dialog__text {
    width: 80%;
  }
  .dialog {
    padding: 32px 38px;
  }

  .card__image {
    max-width: 371px;
    max-height: 371px;
  }
}
